<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink='/'><i class="fab fa-angular"></i><i class="fab fa-node-js"></i> Crud Employees</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink='/employees' routerLinkActive='active'><i class="fas fa-list-ol"></i> List Employees</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/employees/add' routerLinkActive='active'><i class="fas fa-plus-square"></i> Create Employee</a>
    </li>
  </ul>
</nav>
</div>
